{% extends 'base.html.twig' %}

{% block title %}Mon app{% endblock %}

{% block header %}<h2>Mon petit H2</h2>{% endblock %}

{% block body %}

<div class="container">
   {{ form_start(form) }}

    {{ form_widget(form) }}
    {# <input type="color" name="changeColor"> #}
    <button type="submit" class="btn btn-primary">Envoyer</button>

    {{ form_end(form) }}

</div>
{% endblock %}