{# Heritage ou include du base html twig #}
{% extends 'base.html.twig' %}

    {% block title %}Mon app{% endblock %}

    {% block header %}<h2>Mon petit H2</h2>{% endblock %}

    {% block body %}
       
       
        <div class="container">
            <div class="jumbotron mt-3">
                <h1 class="display-3">Bienvenue sur Sym BNB</h1>
                <p class="lead">Nous mettons en relation les voyageur et proprietaire pour gagner
                de l'argent en proposant leur bien a la location</p>
                <hr class="my-4">
                <p>Vous etes voyageur et vous voulez voir ou loger en prevention de votre
                prochain deplacement ?</p>
                <p class="lead">
                    <a class="btn btn-info btn-lg" style="padding: 1rem 2rem; border-radius:40px" href="#" role="button">Annonce</a>
                </p>
            </div>   
               
            <h2>Nos appartements stars</h2>

            <div class="row mt-5">
                <div class="col-md-4">
                    <div class="card bg-light mb-3">
                        <div class="card-header text-center">
                            3 chambres, <strong>49 Euros / nuit</strong>
                            <small></br>Pas encore noté</small>
                        </div>

                        <img src="http://placehold.it/1000x400" alt="" style="height: 200px; width:100%; display:block;">
                        <div class="card-body">
                            <h4 class="card-title">
                                Appartement de ouf !
                            </h4>
                            <p class="card-text">
                                But I must explain to you how all this 
                                mistaken idea of denouncing pleasure 
                                and praising pain was born and I will give 
                                you a complete account of the system, and
                            </p>
                            <a href="" class="btn btn-secondary">En savoir plus</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-light mb-3">
                        <div class="card-header text-center">
                            3 chambres, <strong>49 Euros / nuit</strong>
                            <small></br>Pas encore noté</small>
                        </div>

                        <img src="http://placehold.it/1000x400" alt="" style="height: 200px; width:100%; display:block;">
                        <div class="card-body">
                            <h4 class="card-title">
                                Appartement de ouf !
                            </h4>
                            <p class="card-text">
                                But I must explain to you how all this 
                                mistaken idea of denouncing pleasure 
                                and praising pain was born and I will give 
                                you a complete account of the system, and
                            </p>
                            <a href="" class="btn btn-secondary">En savoir plus</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-light mb-3">
                        <div class="card-header text-center">
                            3 chambres, <strong>49 Euros / nuit</strong>
                            <small></br>Pas encore noté</small>
                        </div>

                        <img src="http://placehold.it/1000x400" alt="" style="height: 200px; width:100%; display:block;">
                        <div class="card-body">
                            <h4 class="card-title">
                                Appartement de ouf !
                            </h4>
                            <p class="card-text">
                                But I must explain to you how all this 
                                mistaken idea of denouncing pleasure 
                                and praising pain was born and I will give 
                                you a complete account of the system, and
                            </p>
                            <a href="" class="btn btn-secondary">En savoir plus</a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col">
                    <div class="card border-secondary mb-3">
                        <div class="card-body">
                            <h4 class="card-title">Remi</h4>
                            <hr>
                            <div class="card-text">
                                <img src="http://placehold.it/64x64" alt="avatar de remi" class="float-left mr-3">
                                <p>
                                    But I must explain to you how all this 
                                mistaken idea of denouncing pleasure 
                                and praising pain was born and I will give 
                                you a complete account of the system
                                </p>
                                <a href="" class="btn btn-success float-right">En savoir plus</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-secondary mb-3">
                        <div class="card-body">
                            <h4 class="card-title">Remi</h4>
                            <hr>
                            <div class="card-text">
                                <img src="http://placehold.it/64x64" alt="avatar de remi" class="float-left mr-3">
                                <p>
                                    But I must explain to you how all this 
                                mistaken idea of denouncing pleasure 
                                and praising pain was born and I will give 
                                you a complete account of the system
                                </p>
                                <a href="" class="btn btn-success float-right">En savoir plus</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    {% endblock %}
