{% extends 'base.html.twig' %}

{% block title %}Nos Annonces{% endblock %}

{% block body %}
{# my-3 = marge en haut et en vas #}
<h1 class="my-3">Voici les annonces</h1>

<div class="row">

   {#  la variable ads est relier au controller Adcontroller.php #}
    {% for annonce in ads %}
        {# Include de la Loop des annonces #}
        {% include 'ad/_annonce.html.twig' %} 
    {% endfor %}

</div>{# end row #}

{% endblock %}
